small{
    color: #b6f6b5;
    text-shadow: 0px 0px 6px red;
    font-weight: 600;
    font-size: 16px;
}

.pincode_textbox {
    position: relative;
}

.pincode_textbox > input {
    cursor: pointer;
    background-color: #d3d3d3;
}

.pincode_textbox > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    color: white;
    cursor: pointer;
    font-weight: 900;
}

.pincode_textbox:hover > input {
    background-color: #7e7e7e;
}

.pincode_textbox:hover span {
    display: block;
}